.square {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 3px solid MidnightBlue;
  position: relative;
  justify-content: center;  
  align-items: center;
}

.cookie {
  position: absolute;
}

.counter {
	top: 50px;
	position: absolute;
}

.erase {
	left: 0px;
	bottom: 0px;
	position: absolute;
}

button {
	display: flex;
}

:disabled {
	visibility: hidden;
}
	
